@model CompositeViewModel_Client
<link rel="stylesheet" href="/css/category_index.css" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h2>Danh mục</h2>
            <nav>
                <ul class="nav flex-column">
                    @foreach (var category in Model.LstCategoryVM)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Product", new { categoryId = category.ID })">
                                @Html.DisplayFor(modelItem => category.Name)
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>

        <div class="col-md-9">
            <h1>Biến thể sản phẩm</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID Biến thể
                        </th>
                        <th>
                            Trạng thái
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var variant in Model.LstCategoriesVariantsVM)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => variant.IDVariants)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => variant.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
