@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="home.html">Home</a></li>
				<li class='active'>Login</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
	<div class="container">
		<div class="sign-in-page">
			<div class="row">
				<!-- Sign-in -->
				<div class="col-md-6 col-sm-6 sign-in">
					<h4 class="">Sign in</h4>
					<p class="">Hello, Welcome to your account.</p>
					<div class="social-sign-in outer-top-xs">
						<a href="#" class="facebook-sign-in">
							<i class="fa fa-facebook"></i> Sign In with
							Facebook
						</a>
						<a href="#" class="twitter-sign-in"><i class="fa fa-twitter"></i> Sign In with Twitter</a>
					</div>
					<form class="register-form outer-top-xs" role="form">
						<div class="form-group">
							<label class="info-title" for="signInEmail">Account <span>*</span></label>
							<input type="text" class="form-control unicase-form-control text-input" id="signInEmail">
						</div>
						<div class="form-group">
							<label class="info-title" for="signInPassword">Password <span>*</span></label>
							<input type="password" class="form-control unicase-form-control text-input" id="signInPassword">
						</div>
						<!-- ... -->
						<button type="submit" class="btn-upper btn btn-primary checkout-page-button">Login</button>
					</form>
				</div>
				<!-- Sign-in -->
				<!-- create a new account -->
				<div class="col-md-6 col-sm-6 create-new-account">
					<h4 class="checkout-subtitle">Create a new account</h4>
					<p class="text title-tag-line">Create your new account.</p>
					<form class="register-form outer-top-xs" role="form" id="registerForm">
						<div class="form-group">
							<label class="info-title" for="email">UserName <span>*</span></label>
							<input type="text" class="form-control unicase-form-control text-input" id="username">
						</div>
						
						<div class="form-group">
							<label class="info-title" for="email">Email Address <span>*</span></label>
							<input type="email" class="form-control unicase-form-control text-input" id="email">
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label class="info-title" for="surname"> Họ <span>*</span></label>
									<input type="text" class="form-control unicase-form-control text-input" id="surname">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="info-title" for="middlename"> Tên đệm </label>
									<input type="text" class="form-control unicase-form-control text-input" id="middlename">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="info-title" for="name"> Tên <span>*</span></label>
									<input type="text" class="form-control unicase-form-control text-input" id="name">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="info-title" for="phoneNumber">Phone Number <span>*</span></label>
							<input type="tel" class="form-control unicase-form-control text-input" id="phoneNumber">
						</div>
						<div class="form-group">
							<label class="info-title" for="password">Password <span>*</span></label>
							<input type="password" class="form-control unicase-form-control text-input" id="password">
						</div>
						<div class="form-group">
							<label class="info-title" for="confirmPassword">
								Confirm Password <span>*</span>
							</label>
							<input type="password" class="form-control unicase-form-control text-input" id="confirmPassword">
						</div>
						<button type="submit" class="btn-upper btn btn-primary checkout-page-button">Sign Up</button>
					</form>
				</div>
				<!-- create a new account -->
			</div><!-- /.row -->
		</div><!-- /.sigin-in-->
	</div><!-- /.container -->
</div><!-- /.body-content -->
<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>